.frame-competence {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:20%;
    margin-left:10%;
}

.title-competence {
    font-weight: 600;
    color: var(--color-cyan);
    font-size: 20px;
}