/* main title */

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
    border-bottom: 1px solid rgb(11, 177, 218);
    letter-spacing: -1px;
    margin-bottom:10px;
}

.main-title {
    font-weight: 600;
    font-size: 28px;
    padding: 0 0 8px;
    display: flex;

}

.title-border-left {
    height: 35px;
    width: 4px;
    background-color: rgb(11, 177, 218);
    border-radius: 2px
}


/* cards */
.card,
.card-project {
    background-color: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px 20px;

    overflow: hidden;
    position:relative;

    margin: 10px 0;
}

.card-title{
    font-weight: 600;
    font-size: 20px;
    color: rgb(20, 20, 20);
}



/* arrow */
.arrow-cyan {
    color: var(--color-cyan);
    font-size: 22px;
    display: inline-block
}







/* Projet */
.section-projet{
    padding: 15px 0px
}

.card-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tag {
    background-color: rgb(190, 238, 250);
    border-radius: 12px;
    padding: 0px 8px;
    border: 1px solid rgb(169, 169, 169);
    font-size:14px;
}

.card-title-row h3 {
    font-weight: 600;
    color: rgb(59, 81, 128);
    font-size: 18px;
}


.card-project:hover {
    box-shadow: 0px 2px 10px rgb(218, 218, 218)
}



.card-project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 1000%;
    background-image: var(--gradient-blue-top);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 600ms ease-in-out;
}

.card-project:hover::before {
    transform: scaleY(1);
}







/* Frame experience */
.experience-content {
    padding: 15px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.experience-title {
    font-weight: 600;
    color: rgb(43, 48, 59);
    font-size: 16px;
}

.experience-subtitle,
.experience-date {
    color: var(--color-subtext);
    font-size: 14px;

}