:root {
    --padding-main: 30px;
    --color-content: #FAFAFA;
    --color-subtext: rgb(103, 111, 126);
    --color-cyan: rgb(11, 177, 218);

    --border-color: rgb(226, 228, 233);

    --gradient-blue-right: linear-gradient(to right, rgb(11, 177, 218), rgb(61, 72, 94));
    --gradient-blue-top: linear-gradient(to bottom, rgb(11, 177, 218), rgb(43, 48, 59));
}

* {
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    letter-spacing: -2px;
}

a {
    display: flex;
    align-items: center;
    gap: 4px
}

.cv {
    width: 70%;
    max-width:1000px;
    min-height: 100vh;
    border-radius: 15px;
    border: 1px solid rgb(193, 193, 193);
    overflow: hidden;
    margin: 20px 0px;
}

li {
    position: relative;
    margin-left: 20px
}

li::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-cyan);
}




/* cv content */
.cv-content {
    height: 100%;
    display: flex;
    background-color: var(--color-content);
    background: white;
}

/* frame left */
.frame-left {
    width: 35%;
    min-height: 100vh;
    padding: 20px 30px 20px 40px;

}

/* frame rght */
.frame-right {
    width: 65%;
    min-height: 100vh;
    padding: 20px 40px 20px 30px;
}

.frame-right section {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.text-presentation {
    padding: 10px;
    text-indent: 1em;
}

/* frame-bottom */
.frame-bottom {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.frame-formation {
    width: 35%;
    padding: 0px 30px 0px 30px
}

.frame-experience {
    width: 65%;
    padding: 0px 40px 0px 30px;
}

.frame-experience-content {
    padding: 0 10px;
    border-left: 1px solid var(--border-color)
}

.frame-experience-content:first-child {
    border-left: 1px solid var(--color-cyan)
}