@media print {

    /* Reset général */
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        box-sizing: border-box;
    }

    /* Configuration de la page */
    @page {
        size: A4 portrait;
        margin: 2mm;
    }

    p {
        font-size: 12px;
        line-height: 14px;
    }

    body {
        margin: 0;
        padding: 0;
        font-size: 8pt;
        line-height: 1.2;
        color: #000;
        background: white;
    }

    .main-header {
        padding: 15px;
        margin-bottom: 10px;
    }

    .main-header-contact {
        flex-direction: column;
        gap: 12px !important;
    }

    .main-header-contact div {
        display: flex;
        flex-direction: row;
        gap:20px
    }


    /* Container principal */
    .cv {
        width: 100%;
        height: 100%;
        page-break-after: avoid;
        page-break-inside: avoid;
        border-radius: 0;
    }

    .cv-content{
        height: 100%;
    }

    .frame-top {
        height: 700px !important;
    }

    .frame-left, .frame-formation {
        width: 37% !important;
        height: 400px !important;
        padding-right: 10px;
        padding-bottom: 5px;

    }

    .frame-right, .frame-experience {
        width: 63% !important;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    .frame-bottom {
        flex-direction: row !important;
    }

    .text-presentation {
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        padding: 0;
    }

    .card {
        padding: 8px;
    }
    .card-title{
        font-size:14px;
        line-height: 18px;
    }

    .main-title {
        font-size: 16px
    }

    .title {
        height: 18px;
    }

    .title-competence {
        font-size: 14px !important;
        line-height: 18px;
    }

    .card-title-row h3 {
        font-size: 14px !important;
        line-height: 18px;
    }

    .title-competence {
        font-size: 21px
    }

    .card-project {
        margin: 0;
        padding: 8px;
    }


    .tag {
        font-size: 12px;
    }

    .experience-title {
        font-size: 12px !important;
        line-height: 14px !important;
    }

    .experience-subtitle,
    .experience-date {
        font-size: 10px !important;
        line-height: 12px !important;
    }

    .experience-content {
        gap: 8px;
        padding: 0px
    }

    .arrow{
        display:none
    }
    .message-header{
        margin:0;
        margin-top:10px
    }
}